// Grid breakpoints
$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1600px,
) !default;

// Grid containers
$container-max-widths: (
    sm: 100%,
    md: 100%,
    lg: 100%,
    xl: 1140px,
    xxl: 1540px,
) !default;
